<!DOCTYPE html>
<html>
    <%- include("../template/head.ejs")-%>
<body>
    <%- include("../template/header.ejs")-%>
    <h1>Home</h1>
    <p>This is a homepage</p>
    <%- include("../template/footer.ejs")-%>

</body>
<html>