<!DOCTYPE html>
<html lang="en">
    <%- include("../template/head.ejs")-%>

<body>
<%- include("../template/logo.ejs")-%>

<% if(failedSignUp) {%>
    <h3>Err error email is already in use </h3>
<% } %>

    <form class="login-form" method="POST" action="/auth/signUp"  >
        <input name="userName" type="text" placeholder="Username" autofocus="true"/>
        <input name="email" type="text" placeholder="Email" autofocus="true"/>
        <input name="password" type="password" placeholder="Password" />


        <button type="submit">Sign up</button>
    </form>

</body>
</html>