<!DOCTYPE html>
<html>
    <%- include("../template/head.ejs")-%>
<body>

<%- include("../template/logo.ejs")-%>
<h1>User page</h1>
<%- include("../template/user.ejs")-%>
<br>
<form action="/items" method="POST">
    <h3>Add new item</h3>
    name <input type="text" name="name">
    price <input type="number" name="price">
    description <input type="textarea" name="description">
    <input type="submit">
</form>
<%- include("../template/footer.ejs")-%>

</body>
<html>